<?xml version="1.0"?>

<configuration>
    <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xmlns="http://www.nlog-project.org/schemas/NLog.xsd">

        <targets>
            <target name="logconsole" xsi:type="Console"/>
            <target name="logfile" xsi:type="File" fileName="log.txt"/>
        </targets>

        <rules>
            <logger name="UserManagement.*" minlevel="Info" writeTo="logconsole"/>
            <logger name="UserManagement.*" minlevel="Debug" writeTo="logfile"/>
        </rules>
    </nlog>
</configuration>